.port-content {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

/* div.portfolio {
  margin-bottom: 20px;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: flex-end;
} */

div.portfolio {
  margin-bottom: 40px;
  margin-right: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  /* max-width: 25rem */
  overflow: hidden;
}

div.portfolio::-webkit-scrollbar {
  background-color: transparent;
}

div.proj-grid {
  text-align: right;
  z-index: 2;
}

@media (max-width: 600px) {
  .port-content {
    height: auto;
    min-height: 90%;
    min-width: 94%;
    overflow: scroll;
  }

  /* div.portfolio {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    position:relative;
    margin-left: auto;
    margin-right: auto;
  } */

  div.portfolio {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    /* overflow-y: auto;
    overflow-x: hidden; */
    bottom: 0;
    height: 40%;
    /* flex-direction: column;
    display: flex; */
  }

  /* a.proj-link {
    text-align: center;
  }
  p.tech {
    text-align: center;
  } */

}

a.proj-link {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: black;
  position: relative;
  margin: 0;
  transition: color .3s ease-in-out;
  text-align: right;
}

a.proj-link:hover {
  color: #456C73;
}

p.tech {
  font-family: 'Playfair Display', serif;
  width: 500px;
  max-width: 500px;
  text-align: right;
  color: #334747
}

p.tech {
  font-family: 'Playfair Display', serif;
  max-width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: right;
}
