
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 90%;
  border: 1px solid #6B9080;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: 200% 200%;
  background-image: linear-gradient(-45deg, #EAF4F4 0%, #CCE3DE 25%, #EAF4F4 51%, #A4C3B2 100%);
  -webkit-animation: dotAnimate 10s ease infinite;
  animation: dotAnimate 10s ease infinite;
}

@-webkit-keyframes dotAnimate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes dotAnimate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.flex-content {
  margin-bottom: 40px;
  margin-right: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 25rem
}

@media (max-width: 600px) {
  .flex-content {
    text-align: center;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
  }

  .content {
    height: auto;
    min-height: 90%;
    min-width: 94%;
  }
}

.link {
  font-family: 'Playfair Display', serif;
  margin-left: 10px;
  margin: 5px 0 5px 10px;
  text-decoration: none;
  color:#232F2A;
  position: relative;
  transition: color .3s ease-in-out;
  display: flex;
}

.link:focus {
  font-style: italic;
  color: #A4C3B2;
}

.link:hover {
  color: #A4C3B2;
}
