
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 90%;
  /* border: 1px solid #456C73; */
  border: thick double #456C73;
  box-shadow: 0 0 20px rgba(69, 108, 115, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url('/public/images/clouds.jpeg');
  background-size: 100% 100%;
  opacity: 0.6;
  animation: moveBackground 20s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

}

div.content-grid {
  position: relative;
  z-index:2;
}
/* .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 90%;
  border: 1px solid #6B9080;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: 200% 200%;
  background-image: linear-gradient(-45deg, #EAF4F4 0%, #CCE3DE 25%, #EAF4F4 51%, #A4C3B2 100%);
  -webkit-animation: dotAnimate 10s ease infinite;
  animation: dotAnimate 10s ease infinite;
}


@-webkit-keyframes dotAnimate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes dotAnimate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */


.flex-content {
  margin-bottom: 40px;
  margin-right: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 25rem
}

@media (max-width: 600px) {
  .flex-content {
    text-align: center;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
  }

  .content {
    height: auto;
    min-height: 90%;
    min-width: 94%;
  }

  div.logo-link {
    position: absolute;
    left: -8%;
    bottom: -4%;
    z-index: 2;
    padding-left: 0;
  }

  a.logo {
    margin-right: 10px;
  }
}

.link {
  font-family: 'Playfair Display', serif;
  margin-left: 10px;
  margin: 5px 0 5px 10px;
  text-decoration: none;
  color:black;
  position: relative;
  transition: color .3s ease-in-out;
  display: flex;
  z-index: 2;
}

.link:focus {
  font-style: italic;
  color: #456C73;
}

.link:hover {
  color: #456C73;
}

.logo-link {
  position: absolute;
  left: 0;
  margin-left: 45px;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 5;
}

a.logo {
  margin-right: 10px;
}
